body {
  font-family: 'Montserrat';
  display: flex;
}

#root {
  flex: 1;
  display: flex;
}

.ant-layout-content {
  padding: 5em;
  background-color: #26A65B;
}

.ant-layout-sider {
  max-width: 300px !important;
  min-width: 300px !important;
  width: 300px !important;
  background-color: #0c4225 !important;
}

.ant-btn {
  flex: 1;
  border-radius: 0;
  border: none;
  height: 4em;
  font-size: 20px;
  border: 1px solid rgba(125, 123, 123, 0.3);
}

.ant-col-2 {
  display: flex;
}

.GREEN {
  background-color: #26A65B !important;
  height: 12em;
  border: 1px solid white;
}

.GREEN:hover {
  background-color: #1E824C !important;
}

.BLACK {
  background-color: #222 !important;
}

.RED {
  background-color: #96281B !important;
}

.BLACK:hover {
  background-color: #333 !important;
}

.RED:hover {
  background-color: #C0392B !important;
}

.bottom-dozen {
  height: 2.5em;
  width: 100%;
  background-color: #26A65B;
  color: #FFF;
  border: 1px solid white;
}

.ant-btn:focus, .ant-btn:hover {
  color: white;
  border: 1px solid rgba(125, 123, 123, 0.3);
}

.right-dozens {
  flex-direction: column;
}

.right-dozen {
  height: 4em;
  background-color: #26A65B;
  color: #FFF;
  border: 1px solid white;
}

.right-dozen:focus, .right-dozen:hover, .bottom-dozen:focus, .bottom-dozen:hover {
  background-color: #1E824C;
  border: 1px solid rgba(125, 123, 123, 0.3);
}